* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Raleway', sans-serif; */
    scroll-behavior: smooth;
 
}
hr{
    width: 20% !important;
    text-align: center;
    margin:auto;
}

::-moz-selection { 
    color: #540026;
    background: rgb(233, 151, 170);
  }

  ::selection {
    color: #540026;
    background: rgb(214, 90, 119);
  }

:root {
    --primary-color: #c8ff00;
    background-color: #8f9400;

}
.navbar-brand{
   
    color:rgba(255, 255, 255, 0.717);
}
.navbar{
    
    padding: 5px;
    font-weight: bolder;
   
}
.navbar button{
    visibility: hidden;
    scale: 0.8;
}




#offcanvasDarkNavbar {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.01));
    backdrop-filter: blur(10px);
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}

.anim {
    animation: fadeInOut 1s ease-in;
}


.transparent{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
    padding-left: 30px;
    padding-right:30px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.3);
    
 
}

.scrolliconn{
    margin-top:-60px;
    font-size:120px;
}
/* Navbar section */



/* .navbar {
    --bs-navbar-brand-color: rgba(255, 255, 255, 0.2);
    --bs-navbar-hover-color: none;
    font-weight: bolder;
    visibility: hidden;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    padding: 5px;
}

.navbar.active{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(15px);
    background-color: #494b00;
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
    visibility:visible;
    animation: fadeInOut 2s forwards;
} */




.navoff{
    --bs-navbar-brand-color: rgba(255, 255, 255, 0.2);
    --bs-navbar-hover-color: none;
    visibility: hidden;
}


.navbar .offcanvas-body ul{
   
    color: #ececec;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.navbar .offcanvas-body li{
   
    margin: 15px;
}
.navbar ul{
   
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-brand img{
    filter: invert();
}
.navbar-brand img:hover{
    filter: none;
}
.nav-link {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 600;
}

.nacbar-toggler-icon {
    color: white;
}

.nav-link:hover {
    color: var(--primary-color);
}

.custom-toggler.navbar-toggler {
    border-color: var(--primary-color);

}



@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }




.welcome-text{
    color: rgb(215, 239, 0);
    /* text-shadow: 0 0 15px #262700ac ; */
} s



/* content section  */

#head {
    flex-direction: row;
    color: white;
    z-index: 1;
    padding-top: 3rem;
}

.text-altdeep{
    color: var(--primary-color);
}

#main {
    background-size: cover;
    /* background-color: #b6187e; */
    /* background-color: #012d24; */
    background-color: #132024;
   
    color: rgb(239, 239, 0);
    
    background-attachment: fixed;
}

#main::before {
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
}

#introtext {
    font-size: small;
}

.mytext {
    font-size: 22px;
    margin-top: 2rem;
}

#contact{
    padding: 0px;
}

#profile-pic{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#desk-img{
    
    position: absolute;
    z-index: -3;
    /* position: absolute;
    right: 0;
    left: 0;
    top :0;
    bottom: 0;
    z-index: 2; */

}

@media (max-width:3768px){
    #desk-img{
      width: auto;
      overflow: hidden;
      height: 83%;
      box-shadow: 0 0 35px rgba(0, 0, 0, 0.939);
      /* border-radius: 15px; */

    }
}


#scrollicon{
    /* filter: invert(); */
    animation: scrollbelow 1.2s infinite forwards;
    display: flex;
    justify-content: center;
    position: relative;
  
}

@keyframes scrollbelow {
    0%{
        top: 0px;
    }
    100%{
        top: 10px;
        opacity: 0;
        display: none;
    }
}


#mydetails {
    list-style: none;
    /* Remove default bullets */
}
.vertical-timeline-element-content-arrow{
    border-right: 10px solid rgb(26, 26, 26)!important;
}
#mydetails li {
    padding-bottom: 1rem;
}

#mydetails li::before {
    content: "\2022";
    color: whitesmoke;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    padding: 4px;
}

.heading-text{
    margin-bottom: 2rem;
    z-index: 3;
}

#details {
    margin-right: 12px;
    color: rgb(35, 35, 0);
}



.profile-pic {
    will-change: transform;
    transition: all 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}

.color-date{
    color: white;
    opacity: 1;
}

@font-face {
    font-family: 'Reckless Neue Medium';
    src:local("Reckless Neue Medium"),
     url("../fonts/Reckless\ Neue\ Medium.woff") format("woff");
    font-style: normal;
  }

@font-face {
    font-family: 'VT323 Regular';
    src:local("vt323 Regular"),
     url("../fonts/VT323\ Regular.woff") format("woff2");
    
  }
   
  .hp-logo-left {
    font-size: 200px;
    color: #F7F39A;
    z-index: 6;
    margin-top: -90px;
    position: absolute;
    top: 0%;
    font-family: "Reckless Neue Medium";
    bottom: auto;
    left: 0%;
    right: auto;
  }

  .hp-logo-right {
    font-size: 200px;
    color: #F7F39A;
    z-index: 6;
    position: absolute;
    top: auto;
    margin-bottom: -70px;
    font-family: "Reckless Neue Medium";
    bottom: 0%;

    left: auto;
    right: 0%;
  }

  .typing-text {
    font-size:200%;
    text-transform: lowercase;
    position: absolute;
    width: 100%;
    /* top: 40%;
    right: 40%;
    bottom: 60%; */
    display: flex;
    padding-top:50px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-weight: lighter;
    justify-content: center;
    font-family:'Times New Roman';
    color:#F7F39A;
    text-align: center;

  }

.typing-text .welcome-text {
    color: white !important;
    z-index: 44 !important;
}

.welcome-heading{
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    font-size: 30px;
    top: 40%;
    right: 50%;
    left:50%;
   
}

.row {
    display: flex;
    justify-content: center;
}

.row img {
    width: 5rem;
}

.icons {
    border: 1.7px solid var(--primary-color);
    border-radius: 25px;
    color: var(--primary-color);
    box-shadow: 4px 5px 4px 3px rgba(198, 198, 198, 0.137);
    font-size: 4.5em;
    margin: 15px;
    overflow: hidden;
    padding-bottom: 25px;
    text-align: center;
    justify-self: center;
}
.ico{
    color:white;
}
.icons:hover{
    border: 1.7px solid black;
    filter: invert();
    background-color: rgb(0, 0, 0);
    transition: 200ms;
}

.wrapper {
    width: 100%;
}

.wrapper .carousel {
    max-width: 1200px;
    margin: auto;
    padding: 23px 18px;
    border-radius: 15px;
    
}

.carousel .card {
    line-height: 25px;
    text-align: center;
    margin: 20px 0;
    width: 80%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0)) !important;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}
.carousel iframe{
    width: 100%;
    height: 430px;
    border-radius: 6px;
}
.carousel .card img {
    width: 107%;
    margin: 12px;
    border-radius: 6px; 
}

.carousel a{
    color: var(--primary-color);
}

#text{
    font-size: 1rem;
}

.rec.rec-arrow {
    border: none;
    color: white;
}

.rec.rec-arrow:disabled {
    visibility: hidden;
}

.social{
    display: flex;
    justify-content: center;
    z-index: 1;
}
.social ul{
    display: flex;
    list-style: none;
}
.social li {
    padding: 3rem;
    padding-top: 0px;
}

.social #fb,
#ig {
    height: 1.9rem;
    margin-top: 3px;
}

.social #lnkd {
    height: 2.3rem;
    margin-top: 3px;
}

.social #git {
    height: 3.2rem;
    padding-bottom: 5px;
}

a img:hover {
    cursor: pointer;
    filter: invert();
    transition: 200ms;
}

.Footer{
    display: flex;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0));
    backdrop-filter: blur(9px);
    /* background-color: #e5e5e52e; */
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
    color: rgba(255, 255, 255, 0.576);
    font-weight: 600;
    padding: 0.6rem;
    z-index: 6;
    font-size: 13px;
    margin-top: 30px;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: row;
    justify-content: center;
}

.footer-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}



.Footer a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 29px;
    margin: 2%;
    font-weight: 600;
}

.social ul{
    padding-left: 0px;
}


/* .vertical-timeline{
    top: 600px; 
} */


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    /* background:  url("../img/he.gif") top center; */
    background-size: cover;
    position: relative;
    margin-bottom: -90px;

  }
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  #hero h1 {
    margin: 0 0 10px 0 !important;
    font-size: 130px !important;
    font-weight: 700 !important;
    line-height: 72px !important;
    /* text-transform: uppercase; */
    font-family: 'Reckless Neue Medium';
    color: #cfcb82;

    text-shadow: 5px 8px 41px rgba(0, 23, 12, 0.893) !important;
  }
  
  #hero h2 {
    color: #fff;

    margin-bottom: 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: -1px 0 2px #2f4d5a;
  }
  #hero .btn-get-started {
    font-size: 36px;
    display: inline-block;
    padding: 4px 0;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    margin: 10px;
    width: 64px;
    height: 64px;
    text-align: center;
    border: 2px solid #fff;
    color: #fff;
  }
  #hero .btn-get-started:hover {
    padding-top: 8px;
    background: rgba(255, 255, 255, 0.15);
  }
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 78px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #000000;
  }
  
.section-title {
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    color: #2f4d5a;
    z-index: 2;
}
.section-title h2::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 122px;
    height: 66px;
    /* background: url(../img/section-title-bg.png) no-repeat; */
    z-index: -1;
}
.section-title p {
    margin-bottom: 0;
}





/*--------------------------------------------------------------*/

.vertical-timeline-element-content {
        background: #191919 !important;
        box-shadow: 0px 1px 50px #000;
        color: rgb(228, 228, 228) ;
} 

.Title{
    color: #F7F39A;
    font-size: 60px;
    font-family:'Reckless Neue Medium' ;
}



.Linkdin ,.Linkdin a{
    position: fixed;
    z-index: 999;
    transform: translateY(-50%);
    top: 50%;
    color:#000;
    width:50px;
    height:150px;
    justify-content: space-between;
    cursor: pointer;
    right: 0;
    background-color: #fff;
}
.bx{
    padding: 14px 15px ;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.rotate-90 {

    transform: rotate(-90deg);
    font-family:'Reckless Neue Medium' ;
    padding: 40px 20px;
    padding-left: 0px;

    
  }
#no-underline {
    text-decoration: none;
}
/* Music */

/* .eRMflP{
    color: white;
    border:none;
    background-color: white;
} */

.kKHyNi,.IiDjp,.cKHpqg,.bZdSeH{
    transition:all 400ms ease;
    box-shadow:none;
    display: none;
   
}

.hehpda,.gYcGtH{
    font-size: 3.6em !important;
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.595) !important;
}
.hehpda:hover , .gYcGtH:hover{
    background-color: transparent !important;
}

.hehpda:hover:enabled, .hehpda:focus:enabled {
    background-color: transparent;
    box-shadow: none;
}

.gYcGt:Hhover:enabled, .gYcGtH:focus:enabled {
    background-color: transparent;
    box-shadow: none;
}

/* Contacts */

.container1{
    font-size: 18px;
    z-index: 5;
}

.container1 p{
    color : rgb(224, 221, 221);
}

.container1 i{
    color: white;
    z-index: 999;
}
.Sicon{
    color: white;
    font-size: 53px;
}
.container1 .icon{
    color: white;
    font-size: 63px;
    margin: 5px;
    padding-top: 13px;
}

.info-box{
    text-align:center;
    margin-left: 6%;
}

.col-sm-4{
    margin-right: 0px;
}
.row{
    margin-right: 0px;
}
.row>*{
    padding-right: 0px;
}
.row a{
    margin: 13px;
}
.row a .icon {
    font-size: 50px;
}

.info-box{
    padding: 0px 10px 10px 10px ; 
    border: #c8ff00 2px solid;
    border-radius: 20px;
    margin: 13px;
}

/* .info-box:hover{
    background-color: #ffffff;
    color: black !important;
    transition: 200ms;
    filter: invert();
   
} */




/* Project */


.card{
    margin: 60px 18px;
    background: #191919 !important;
    box-shadow: 0px 1px 50px #000;
    color: rgb(228, 228, 228) ;
}

.card-body{
    margin: -10% 3% 3% 3%;
    padding: 3% 3%;
}

.card img{
    margin-top: 0px;
    overflow:hidden;
    width: 100%;
	height: auto;
	object-fit: cover;
}

.dabba{
    margin-top: 80px;
    padding-top: 105px;
}

.category-btn{
   background-color: transparent;
    color: #FC1503 !important;
    border: 1px solid  #FC1503 !important;
    margin: 10px;
    width: 90px;
    padding: 10px;
    transition: 300ms;
    text-align: center;

}
a{
    text-decoration: none !important;
}
.category-btn .icon{
    font-size: 25px !important;
    scale:1.1;
    padding-bottom: 2px;

}
.category-btn:hover {
    background-color: #FC1503 !important;
    color: white !important;
  }


.music{
    padding: 30px;
    line-height: 25px;
    text-align: center;
    margin: 20px 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}

.music iframe{
    max-width: 850px;
    height: 450px;
    border-radius: 6px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255,255,255,0)) !important;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
    padding: 25px;
}

@media only screen and (max-width: 580px){
.music {
    padding-left:20px !important;
    padding-right:none !important;
}
}
.music {
    padding-left:50px;
}